@mixin Montserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin Lato {
  font-family: "Lato", sans-serif;
}

@mixin hoverButton {
  color: $main_purple;
  background: #ffffff;
}
@mixin container_1200 {
  max-width: 1180px;
  min-width: 993px;
  margin: 0 auto;
}
@mixin container_992 {
  max-width: 992px;
  min-width: 481px;
  margin: 0 auto;
}
@mixin container_480 {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
}
@mixin flex($display, $wrap, $justify, $align) {
  display: $display;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin editor-title{
  font-family:"Montserrat", sans-serif ;
  font-weight: 700;
  letter-spacing: 0;
  color: #635C73;
  text-align: center;
  text-transform: uppercase;
}
@mixin editor-subtitle{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0;
  text-align: center;
  color: #323232;
}
@mixin editor-button-text-style{
  text-decoration: none;
  display: inline-block;
  color: #24292e;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif ;
  cursor: pointer;
}


