
#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.card{
    border: 1px solid black;
    box-shadow: 1px 2px 2px black;
    text-align: center;
    height: 135px;
    width: 884px;

}
.btn-delete{
    cursor: pointer;
}

