body{
    background: url("./HW_7_IMG/background.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
}

/*###############HEADER-START##################*/
.header-container{
    background-color:  rgba(0, 0, 0, 0.4);
    height: 58px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.title-text p{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 79px;
    cursor: pointer;
}
.title-text p:hover{
    color: #01813F;
    transition: 0.4s;
}

.title-icons{

    margin-right: 53px;
    width: 126px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
    padding-left: 3px;

}
.title-block-icon{
    display: flex;
    align-items: center;
}
.calendar-icon{
    width: 21px;
    height: 24px;
    cursor: pointer;
    fill: #FFFFFF;
}
.calendar-icon:hover{
    fill:#01813F;
    transition: 0.4s;
}
.mail-icon{
    width: 23px;
    height: 23px;
    cursor: pointer;
    fill: #FFFFFF;
}
.mail-icon:hover{
    fill:#01813F;
    transition: 0.4s;
}
.compass-icon{
    width: 23px;
    height: 23px;
    cursor: pointer;
    fill: #FFFFFF;
}
.compass-icon:hover{
    fill:#01813F;
    transition: 0.4s;
}


.welcome{
    margin-right: 79px;
    position: relative;
    cursor: pointer;

    
}
.welcome:before{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);;
    height: 19px;
    position: absolute;
    left: -27px;
    top: -2px;
    opacity: 0.5;
}
.welcome-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}
.welcome-text a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}
.welcome-text a:hover{
    color: #01813F;
    transition: 0.4s;
}
/*###############HEADER-END##################*/


/*###############MAIN-START##################*/

.main-container{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin: 54px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: calc((100% + 54px) / 2);
}
.main-wrapper{
    width: 324px;
    height: 540px;



}
.square{
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 25px;
}
.enter{
    display: flex;
    justify-content: space-between;

    align-items: flex-end;

}
.sign{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;

}
.login a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.login a:hover{
    text-decoration: underline;
}

.network{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.facebook{
    width: 157px;
    height: 46px;
    background: #305DB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.facebook-link{
    text-decoration: none;
}
.facebook:hover{
    background: #022263;
    transition: 0.4s;
}
.facebook-icon{
    margin-left: 17px;
    margin-bottom: 12px;
    
}
.facebook-icon p{
    width: 13px;
    height: 24px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.facebook-text{
    margin-right: 22px;
}
.facebook-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.facebook-text p:before{
    content: "";
    border-left: 1px solid  #2B0D09;
    height: 28px;
    margin-right: 18px;

    opacity: 0.1;
}

.google{
    width: 157px;
    height: 46px;
    background: #DF4A32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.google:hover{
    background: #AB1F09;
    transition: 0.4s;
}
.google-link{
    text-decoration: none;
}
.google-icon p{
    width: 30px;
    height: 19px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
}
.google-icon  span{

    width: 30px;
    height: 19px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -2px;

}
.google-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.google-text{
    margin-right: 27px;

}
.google-icon{
    margin-left: 12px;


}
.google-text p:before{
    content: "";
    border-left: 1px solid  #2B0D09;
    height: 28px;
    margin-right: 30px;
    margin-top: 10px;

    opacity: 0.1;
}
.line{
    width: 323px;
    margin-top: 31px;
}
.line p{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    position: relative;
}
.line p:before{
    content: "";
    width: 152px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
    bottom: 45%;
   right: 53%;


}
.line p:after{
    content: "";
    width: 152px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
    bottom: 45%;
    left: 53%;


}










.first-name input::placeholder{
    content:"" ;
    color: #BEBEBE;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;



}
.forms{
    margin-top: 12px;
}
.first-name input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.first-name input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background: #FFFFFF;
    outline: none;
}
.last-name{
    margin-top: 16px;
}
.last-name input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.last-name input::placeholder{
    content:"" ;
    color: #BEBEBE;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    }
.last-name input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background: #FFFFFF;
    outline: none;
}
.e-mail{
    margin-top: 15px;
}
.e-mail input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.e-mail input::placeholder{
    content:"" ;
    color: #BEBEBE;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    }
.e-mail input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background: #FFFFFF;
    outline: none;
}
.password{
    margin-top: 15px;
}
.password input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.password input::placeholder{
    content:"" ;
    color: #BEBEBE;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;


}
.password input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background: #FFFFFF;
    outline: none;
}
.password-confirm{
    margin-top: 15px;
}
.password-confirm input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.password-confirm input::placeholder{
    content:"" ;
    color: #BEBEBE;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;


}
.password-confirm input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    background: #FFFFFF;
    outline: none;
}
.checkbox{
    margin-top: 12px;

}
.checkbox label{
    width: 241px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:#434343;
    cursor: pointer;
}
.checkbox label a{
    text-decoration: none;
    width: 241px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.checkbox label a:hover{
    text-decoration: underline;
}

.button{
    margin-top: 20px;


}
.button button{
    background: rgba(60, 184, 120, 0.8);
    border: none;
    width: 324px;
    height: 46px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button button:hover{
    background: #01813F;
    transition: 0.4s;
}
.button button {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
#btn{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -4px;
    cursor: pointer;

}



