.footer{
  background-color: black;
  &__container{
    @include d-flex-center;
  }
  &__content-wrapper{
    @include d-flex-center;
    flex-direction: column;
    padding-bottom: 70px;
    padding-top: 66px;
    max-width: 684px;
    min-width: 303px;
    text-align: center;
    @media screen and (max-width: $mobile-small + 1px){
      margin-left: 35px;
      margin-right: 35px;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #FEFEFE;
  }
  &__text{
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
  }
  &__text-mobile{
    @media screen and (max-width: $mobile-small + 1px){
      display: none;
    }
  }
  &__img{
    margin-bottom: 35px;
    margin-top: 35px;
  }
  &__info{
    display: flex;
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    @media screen and (min-width: $mobile-small) and (max-width: $tablet-width){
      display: flex;
      flex-direction: column;
    }
  }
}

.slash{
  margin: 0 5px;
}
