.pricing {
  background-image: url(../img/pricing/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 12px;
  margin-top: -18px;

  &__title {
    color: $light;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
  }

  &__list {
    padding-top: 32px;
    @include flex(flex, wrap, center, center);
  }

  &__wrapper {
    text-align: center;
  }
}

.item-price {
  color: $light;
  background-color: rgba(255, 255, 255, 0.11);
  @include flex(flex, nowrap, space-between, center);
  max-width: 257px;
  min-width: 257px;
  height: 457px;
  margin-bottom: 18px;
  flex-direction: column;
  flex-basis: 90%;

  &__title {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.06);
    text-transform: uppercase;
    padding: 36px 0;
    width: 100%;
    text-align: center;
  }

  &__value {
    font-size: 60px;

    & span {
      font-weight: 700;
    }

    &:after {
      content: "per month";
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16px;
      display: block;
      padding-top: 16px;
    }
  }

  &__sep {
    width: 60px;
    height: 5px;
    background-color: $main_purple;
    display: block;
    margin: 0 auto;
  }

  &__desc {
    font-size: 16px;
    line-height: 28px;
  }

  &__btn {
    padding: 14px 36px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 37px;

    &:hover {
      color: inherit;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

}

.item-price--active {
  height: 560px;
  max-width: 299px;
  min-width: 299px;
  flex-basis: 100%;
  background-color: rgba(70, 48, 72, .84);

  &:hover {
    box-shadow: rgba(0, 0, 0, .8) 0 4px 8px -4px;
    transition: 0.4s;
  }

  > .item-price__title {
    padding: 45px 0;
    background-color: rgba(0, 0, 0, .11);
  }

  > .item-price__value {
    font-size: 82px;
  }

  > .item-price__btn {
    padding: 18px 48px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 37px;
  }
}

@media (min-width: 481px) {
  .pricing {
    padding-top: 90px;
    padding-bottom: 90px;

    &__title{
      font-size: 42px;
    }

    &__list{
      padding-top: 40px;
    }
  }

  .item-price{
    flex-basis: 36%;
    margin: 15px 12px;
  }

  .item-price--active{
    flex-basis: 40%;
    margin-left: 12px;
  }
}
@media (min-width: 993px) {
  .pricing {

    &__list{
      padding-top: 60px;
    }
  }

  .item-price{
    flex-basis: 22%;
    margin: 0 7px;
  }

  .item-price--active{
    flex-basis: 25%;
    margin-left: 7px;
  }
}