.services-section {
  background-color: $light;
  overflow: hidden;

  .container {
    @include container_480;
  }
}

.services {
  &__title {
    @include Montserrat;
    color: $main_purple;
    font-style: normal;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    padding: 34px 35px 15px 35px;
    text-align: center;
  }

  &__item {
    padding: 19px 15px;
    display: grid;
    justify-items: center;

    &-title {
      @include Montserrat;
      margin-bottom: 18px;
      color: $dark_grey;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }
  }

  &__description {
    @include Lato;
    text-align: center;
    color: $light_grey;
    font-size: 12px;
    line-height: 21px;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__main-img {
    margin-top: 38px;
  }
}

@media (min-width: 481px) {
  .services-section{
    .container {
      @include container_992;
    }
  }
  .services {

    &__title {
      font-size: 42px;
      line-height: 54px;
      font-weight: 700;
      padding-top: 54px;
      padding-bottom: 30px;
      grid-column-start: 2;
      text-align: center;
    }

    &__content {
      grid-column-start: 1;
      grid-row: 1/3;
      padding-top: 50px;
      padding-bottom: 42px;
    }

    &__item {
      padding: 30px;
      display: grid;
      grid-template-columns: 111px 1fr;
      justify-items: start;
      align-items: start;
      grid-column-gap: 24px;

      &-title {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }
    }

    &__description {
      text-align: left;
      font-size: 13px;
      line-height: 21px;
    }

    &__img {
      grid-row: 1/3;
    }

    &__main-img {
      margin-top: 20px;
    }
  }
}

@media (min-width: 993px) {

  .services-section {
    background-color:  #F4F4F4;
    overflow: hidden;

    .container {
      @include container_1200;
    }
  }

  .services {
    display: grid;
    grid-template-columns: 50% 50%;

    &__content {
      grid-column-start: 1;
      grid-row: 1/3;
      padding-top: 83px;
      padding-bottom: 42px;
    }

    &__title {
      grid-column-start: 2;
      text-align: left;
      font-size: 38px;
      line-height: 48px;
      padding: 84px 0 29px 25px;
    }

    &__item {
      padding: 17px 90px;
      display: grid;
      grid-template-columns: 111px 1fr;
      justify-items: start;
      align-items: start;
      grid-column-gap: 24px;
    }

    &__description {
      text-align: left;
    }

    &__img {
      grid-row: 1/3;
    }

    &__main-img {
      margin-top: 0;
    }
  }
}

