body{
    width:1366px;
    background: url("./img_HW_6/background 1.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;


}
.container{
    margin: 0 auto;
    width: 1028px;

}
header .container{
    margin-top: 50px;
}
.logo{
    display: flex;

}
.title-logo-text{
    margin-left: 8px;
}
.title-logo-text-1{
    font-weight: bold;
    font-size: 29px;
    position: relative;
    color: #FFFFFF;
}
.title-logo-text-2{
    font-weight: bold;
    font-size: 18px;
    position: relative;
    color: #FFFFFF;
}
.logo:hover .title-logo-text-1{
    color:#F26522;
}
.logo:hover .title-logo-text-2{
    color:#F26522;
}
.logo:hover .title-logo-img{
    content: url("/img_HW_6/logo 2.png");
}
.logo-link{
    text-decoration: none;
}
.title-logo-img{
    width: 53px;
    height: 47px;
    position: relative;
    top: 3px;
}

.title-contacts{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
}
.title-logo{
    display: flex;
}

.wrapper-title{
    display: flex;
    justify-content: space-between;
}
.title-logo-text{
    margin-top: 7px;
    margin-bottom: 5px;
    padding-left: 8px;
}
.title-contacts a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.title-contacts a:hover{
    color: #F26522;
}


/*###################HEADER-END#####################*/



main .container{
    width: 1030px;
    height: 560px;
    margin-top: 17px;
}
.content img{
    width: 300px;
    height: 220px;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 37px;
    column-gap: 61px;
}
.content-item-text{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.content-item-text a{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.content-item-hover{
    opacity: 0;
    width: 299px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    margin-top: -60px;
    display: flex;
    cursor: pointer;

}

.content-item-hover:hover{
    opacity: 1;
}
.content-item-hover-text{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    width: 22px;
    height: 14px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 16px;
}
.content-item-hover-block{
    width: 299px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 29px;
    position: absolute;
}

.content-item-hover-price{
    width: 36px;
    height: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-bottom: 12px;
}
.content-item-hover-details{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 78px;
    height: 14px;
    color: #FFFFFF;
    margin-right: 37px;
    margin-bottom: 8px;

}
.content-item-hover-details:after{
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    right: 14px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(45deg);
    top: calc((100% - 11px) / 2);

}
.content-item_1:hover .content-item-text a{
    color: #F26522;
}
.content-item_1:hover .content-item-hover{
    opacity: 1;
}

.content-item_2:hover .content-item-text a{
    color: #F26522;
}
.content-item_2:hover .content-item-hover{
    opacity: 1;
}
.content-item_3:hover .content-item-text a{
    color: #F26522;
}
.content-item_3:hover .content-item-hover{
    opacity: 1;
}
.content-item_4:hover .content-item-text a{
    color: #F26522;
}
.content-item_4:hover .content-item-hover{
    opacity: 1;
}
.content-item_5:hover .content-item-text a{
    color: #F26522;
}
.content-item_5:hover .content-item-hover{
    opacity: 1;
}
.content-item_6:hover .content-item-text a{
    color: #F26522;
}
.content-item_6:hover .content-item-hover{
    opacity: 1;
}
/*##########MAIN_END#############*/

footer .container{
    margin-top: 49px;
}
.text-footer{
    display: flex;
    justify-content: center;
}
.text-footer p{
    text-align: center;
    width: 306px;
    height: 21px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

