
body{
    background-color:  #171717;

}
.krot{
    color: red;
    border: 3px solid fuchsia;
}

.container{
    width: 1461px;
    margin: 0 auto;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 216px;
    height: 33px;
    margin-top: 46px;
}
.call-wrapper{
    display: flex;
    margin-top: 37px;
}

.call-wrapper-contacts{
    width: 144px;
    height: 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-right: 39px;
    align-self: center;
}
.call-wrapper-contacts span{
    color: #D6AF76;
}
.call-wrapper-btn{
display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    cursor: pointer;
}
.call-wrapper-btn a{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #E4B564;
}
.call-wrapper-btn a:before{
    content: url("./Img-hw5/Vector.png");
    width: 13px;
    height: 13px;
    padding-right: 10px;
}
.portfolio .container{
    margin-top: 128px;
}
.portfolio-title{
    width: 599px;
    height: 28px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.portfolio-text{
    width: 1182px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 41px;
    margin-bottom: 41px;
}
.portfolio-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2,468px);
    grid-template-areas:"item_1 item_1 item_2 item_2 item_3 item_3" "item_4 item_4 item_4 item_5 item_5 item_5" ;
    grid-column-gap: 35px;
    grid-row-gap: 27px;
}
.portfolio-wrapper-item_1{

    background: #634F2C;
    grid-area: item_1;
}
.portfolio-wrapper-item_2{
    grid-area: item_2;
    background: #B4A385;
}
.portfolio-wrapper-item_3{
    grid-area: item_3;
    background: #E4B564;
}
.portfolio-wrapper-item_4{
    grid-area: item_4;
    background: #635A4A;
}
.portfolio-wrapper-item_5{
    grid-area: item_5;
    background: #B08C4D;
}
.portfolio-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-wrapper div p{

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.portfolio-wrapper-item_2 p{
    padding-left: 44px;
    padding-right: 44px;
}
.tec-park .container{
    margin-top: 161px;



}
.tec-park-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    width: 977px;
    height: 28px;
    margin-bottom: 94px;
}
.tec-park-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 25px;
    height: 900px;


}
.tec-park-wrapper div{
    width: 467px;



}
.tec-park-wrapper-item_1{
    height: 313px;
    background-color: #0E0E0E;
}
.tec-park-wrapper-item_2{
    height: 560px;
    background-color: #1F1F1F;
}
.tec-park-wrapper-item_3{
    height: 439px;
    background-color: #242424;
}
.tec-park-wrapper-item_4{

    height: 405px;
    background-color: #E4B564;
}
.tec-park-wrapper-item_5{
    height: 255px;
    background-color:  #1F1F1F;
}
.tec-park-wrapper-item_6{
    height: 313px;
    background-color: #0E0E0E;
}
.tec-park-wrapper-item_7{
    height: 277px;
    background-color:  #0A0909;
}
.tec-park-wrapper div p{
    width: 302px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 52px;

}
.tec-park-wrapper div p span{
    display: block;
    font-weight: 700;
}
.tec-park-wrapper .tec-park-wrapper-item_4 p{
    color: #000000;

}
.projects{

    background-color:  #0E0E0E;
    margin-bottom: 240px;

}

.projects-headline{
    margin-top: 172px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.projects-headline-title{

    padding-top: 172px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;

}
.projects-headline-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    cursor: pointer;
}
.projects-headline-btn-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.projects-wrapper{
    height: 782px;
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.projects-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-wrapper img{
    display: inline-block;
}
.projects-wrapper-item_1{
    background-color: #634F2C;
}
.projects-wrapper-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgba(232, 210, 171, 0.76);
}
.projects-wrapper-item_2 p{
    display: inline-block;
    width: 326px;
    height: 140px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 16px;
    font-weight: 400;

}
.projects-wrapper-item_2 p span{
    display: inline-block;
    font-weight: 600;
}

.projects-wrapper-item_3{
    background-color: #E4B564;
}
.projects-wrapper-item_4{
    background-color: #635A4A;
}
.projects-wrapper-item_5{
    background-color: #B08C4D;
}
.projects-wrapper-item_6{
    background-color: #634F2C;
}
.btn{
    position: relative;
    width: 100px;
    height: 52px;
    left: 320px;
    top: 38px;
    cursor: pointer;
    background-color: #634F2C;
    border: 2px solid #D6AF76;
    color: #E4B564;


}
.btn:hover{
    color: #B4A385;
    border: 2px solid blueviolet;
    transition: 1s;
}
body.light{
    background-color:  darkslategrey;
}


