.main {

  &__container{
    margin-bottom: 69px;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  &__content-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $basic-text-color;
    margin-bottom: 24px;
  }
  &__posts-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
      display: flex;
    }
  }
  &__post-last{
    @media screen and (max-width: $mobile-small){
      display: none;
    }
  }
  &__post{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 585px;
    min-width: 262px;
    width: 48%;
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
      width: 100%;
    }
    @media screen and (max-width: $tablet-width){
      display: block;
      width: 100%;
    }
  }
  &__post-photo{
    margin-right: 21px;
  }
  &__post-block-info{
    align-self: flex-start;
  }
  &__post-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $basic-text-color;
  }
  &__post-info{
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
  }
  &__post-text{
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    @media screen and (max-width: $mobile-small){
      display: none;
    }
  }
}


.section-inst{
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (max-width: 373px) {
    background-color: #FFFFFF;
  }
  &__wrapper {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1170px) {
      width: 100%;
    }
    @media (max-width: 940px) {
      width: 768px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (max-width: 373px) {
      width: 320px;
    }
  }
  &__title {
    text-transform: uppercase;
    color: $basic-text-color;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 47px;
    margin-bottom: 24px;
    text-decoration: none;
    @media (max-width: $mobile-small) {
      font-size: 14px;
      margin-top: 30px;
    }
  }
  &__title.first::before {
    content: "- ";
  }
  &__title.second::after {
    content: " -";
  }
  @media (max-width: 767px) {
    &__title.second {
      display: none;
    }
  }
  @media (max-width: $mobile-small) {
    &__title.second {
      display: none;
    }
  }
}

.section-inst__images {
  display: flex;
  width: 1170px;
  margin-bottom: 50px;
  @media (max-width: 940px) {
    width: $tablet-width;
  }
  @media (max-width: 373px) {
    width: 100%;
    margin-bottom: 42px;
  }
  &__img {
    width: 285px;
    margin-right: 10px;
  }
  @media (max-width: 1170px) {
    width: 100%;
    justify-content: center;
    &__img {
      width: 249px;
      margin-right: calc((100% - 750px) / 8);
      margin-left: calc((100% - 750px) / 8);
    }
    &__img.inst-4 {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    &__img {
      width: 249px;
      margin-right: 3px;
      margin-left: 3px;
    }
    &__img.inst-4 {
      display: none;
    }
  }
  @media (max-width: $tablet-width) {
    &__img {
      width: calc(90% / 3);
      margin-right: 3px;
      margin-left: 3px;
    }
    &__img.inst-4 {
      display: none;
    }
  }
  @media (max-width:$mobile-small) {
    &__img {
      display: none;
    }
    &__img.inst-1 {
      display: block;
      width: 300px;
    }
  }
}


