.header {
  padding-top: 30px;
  margin-bottom: 38px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
    margin-left: 50px;
    margin-right: 50px;
  }
  &__content-wrapper{
    display: flex;
    flex-direction: column;
  }
  &__container-menu{
    align-self: flex-end;
    @media screen and (min-width: $tablet-width){
      width: 80%;
      align-self: center;
    }
  }
  &__container-img{
    align-self: center;
    width: 100%;

  }
  &__btn-menu{
    width: 44px;
    height: 37px;
    background-color: black;
    align-self: end;
    margin-bottom: 23px;
    position: relative;
    @media screen and (min-width: $tablet-width){
      display: none;
    }
  }
  &__menu-list{
    display: none;
    min-width: 150px;
    min-height: 170px;
    position: absolute;
    padding-top: 5px;
    bottom: -450%;
    right: 0;
    background: #F5F5F5;
    @media screen and (min-width: $tablet-width){
      display: none;
    }
  }
  &__menu-list-tablet{
    display: none;
    @media screen and (min-width: $tablet-width){
      @include d-flex-center-between;
      align-self: center;
      margin-bottom: 25px;
    }
  }

  &__menu-list-item{
    color: $basic-text-color;
    font-size: 11px;
    letter-spacing: 1.1px;
    line-height: 22px;
    padding-left: 13px;
  }
  &__img{
    width: 100%;
  }
}

.header__menu-list-item:active{
  background-color: #E5E5E5;
}

.active{
  display: block;
}
.first-item-list{
  color: #57A4A4;
}
