body{
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}
.container {
   max-width: 1160px;
    margin: 0 auto;
}
.header{
    height: 1012px;
    background: url("img/header-background.png")no-repeat center center fixed;
    background-size:cover;
}
.header-menu{
    margin: 0 auto;
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-menu-logo{
    display: flex;
}
.figure-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure-logo span{
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.header-menu-logo-text p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
.search-icon:hover{
    color: red;
}
.header-menu-logo-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-menu-logo-text span{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}
.header-nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.list-menu {
    display: flex;
    align-items: center;
    column-gap: 21px;
    position: relative;
    top: 0;
}
.list-menu li a{
    size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.search-icon{
    width: 21px;
    height: 20px;
    vertical-align: text-top;
    cursor: pointer;
}
.list-menu li a:hover{
    color: #18CFAB;
    padding-bottom: 48px;
    border-bottom: 2px solid #18CFAB;
    transition: 0.5s;
}
.title-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 266px;
}
.first-txt{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 15px;
}
.first-txt span{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color:#18CFAB;
}
.second-txt{
    margin-top: 70px;
    margin-bottom: 63px;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.third-txt{
    font-size: 34px;
    color: #D4D4D4;
    margin-top: -15px;
}
.header-btn{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    width: 363px;

}
.header-btn-primary{
position: relative;
}
.white-primary{
    width: 169px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
}
.main-primary{
    position: absolute;
    top: 5px;
    width: 169px;
    height: 63px;
    background: #18CFAB;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-primary p{
display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-btn-secondary{
    position: relative;
}
.white-secondary{
    border-radius: 5px;
    width: 168px;
    height: 64px;
    background: #FFFFFF;
}
.main-secondary{
    border-radius: 5px;
    position: absolute;
    top: 5px;
    width: 168px;
    height: 63px;
    background: #00CBF6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-secondary p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-secondary p {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.icons{
    margin-top: 8px;
}
.icon-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 377px;
}

.icon-wrapper-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
    background: #1C2A33;
}
.icon-wrapper-item_1 p{
    margin-top: 44px;
}

.icon-wrapper-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1C2A33 ;
    background: #18CFAB;
}
.icon-wrapper-item_2 p{
    margin-top: 62px;
}
.icon-wrapper-item_3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
    background: #1C2A33;
}
.icon-wrapper-item_3 p{
    margin-top: 44px;
}
.icon-wrapper-item_4{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1C2A33 ;
    background: #18CFAB;
}
.icon-wrapper-item_4 p{
    margin-top: 62px;
}
.content-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-icon p:nth-child(odd){
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    text-transform: uppercase;
}
.content-icon p:nth-child(even){
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.service{
    margin: 84px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.line-1-service{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-top: 26px;
    margin-right: 10px;
}

.line-2-service{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-top: 2px;
    margin-left: 10px;
}
.tabs-wrapper{
    margin-top: 67px;
}
.tabs{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.tabs li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.tabs li:hover{
    border: 1px solid #18CFAB;
    transition: 0.5s;
}
.tabs li.active{
   color:  #FFFFFF;
    background: #18CFAB;
}
.tabs{
    position: relative;
}
.tabs-content li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs-content li img{
    margin-top: 23px;
    width: 192px;
    height: 120px;
    display: none;
}
.tabs-content li.active img{
    display: block;
}
.tabs-content li p{
    margin-top: 28px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
    display: none;
}
.tabs-content li.active p{
    display: block;
}
.tabs-item.active::before{
    content: " ";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
    position: absolute;
    bottom: -13px;
}
.offer{
    margin-top: 91px;
    background: url("img/main-theme.png")no-repeat center center fixed;
    height: 476px;
    background-size:cover;
}
.offer-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.offer-info h2{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 127px;
    color: #18CFAB;
}
.offer-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-top: 12px;
}
.offer-btn{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 62px;
}
.offer-btn-white{
    width: 168px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
}
.offer-btn-main{
    width: 168px;
    height: 63px;
    background: #18CFAB;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-btn-main p{
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E9EDEF;;
}
.works-text{
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.line-1-works{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-top: 20px;
    margin-right: 10px;
}
.line-2-works{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-top: 2px;
    margin-left: 10px;
}
.works-list{
    margin-top: 69px;
    margin-bottom: 71px;
}
.works-list-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.works-list-items li{
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 15px;
}
.works-list-item.active{
    color: #18CFAB;
    border: 2px solid #18CFAB;;
}
.photos-list{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    margin-bottom: 70px;
}
.cover-table-text-1{
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.cover-table-text-2{
    margin-top: 10px;
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.cover-table-icon{
    margin-top: 42px;
    margin-bottom: 24px;
}
.catalog-item-1 {
    background-image: url("img/graphic-design/Layer 24.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-2 {
    background-image: url("img/graphic-design/Layer 25.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-3 {
    background-image: url("img/graphic-design/Layer 26.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-4 {
    background-image: url("img/graphic-design/Layer 27.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-5 {
    background-image: url("img/graphic-design/Layer 28.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-6 {
    background-image: url("img/graphic-design/Layer 29.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-7 {
    background-image: url("img/graphic-design/Layer 30.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-8 {
    background-image: url("img/graphic-design/Layer 31.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-9 {
    background-image: url("img/graphic-design/Layer 34.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-10 {
    background-image: url("img/graphic-design/Layer 33.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-11 {
    background-image: url("img/graphic-design/Layer 32.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-12 {
    background-image: url("img/graphic-design/Layer 35.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-13 {
    background-image: url("img/graphic-design/Layer 36.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-14 {
    background-image: url("img/graphic-design/Layer 37.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-15 {
    background-image: url("img/graphic-design/Layer 38.jpeg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-16 {
    background-image: url("img/graphic-design/Layer 36.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-17 {
    background-image: url("img/graphic-design/Layer 39.webp");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-18 {
    background-image: url("img/graphic-design/Layer 40.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-19 {
    background-image: url("img/graphic-design/Layer 41.webp");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-20 {
    background-image: url("img/graphic-design/Layer 42.webp");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-21 {
    background-image: url("img/graphic-design/Layer 43.webp");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-22 {
    background-image: url("img/graphic-design/Layer 44.webp");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-23 {
    background-image: url("img/graphic-design/Layer 45.png");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-24 {
    background-image: url("img/graphic-design/Layer 46.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.cover-table {
    border-top: 2px solid #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
    width: 285px;
    height: 211px;
    position: absolute;
    visibility: hidden;
}
.hide{
    display: none;
}
.visible{
    display: none;
}
.catalog-item:hover .cover-table {
    visibility: visible;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 37px;
    padding-right: 25px;
    background-color: #18CFAB;
    border: none;
    border-radius: 5px;
    margin-bottom: 99px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
}
.btn img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.news-text{
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-text h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.line-1-news{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-top: 24px;
    margin-right: 10px;
}
.line-2-news{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-top: 2px;
    margin-left: 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 43px;
    column-gap: 33px;
    margin-top: 68px;
}
.content-item{
    max-width: 263px;
}
.content-item img{
    display: block;
}
.content-item-img{
    position: relative;
    display: block;
}
.content-item-img a{
    display: block;
}
.date{
    width: 70px;
    height: 68px;
    background: #203E38;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 0;
    left: 193px;
    cursor: pointer;
}
.date span{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 10px;
}
.date p{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    top: 0;
    color: #FFFFFF;
}
.news-info{
    display: flex;
    flex-direction: column;
    margin-top: -7px;
    cursor: pointer;
}
.text-news{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;

    text-align: center;
    margin-left: -35px;
    padding: 10px;
}
.comments-news{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    text-align: center;
    margin-top: -25px;
    margin-left: -15px;
}
.comments-news span{
    margin-left: 10px;
    margin-right: 10px;
}
.content-item:hover .date{
    background: #18CFAB;
    transition: 0.4s;
}
.content-item:hover .text-news{
    color: #18CFAB;
    transition: 0.4s;
}
.carousel-section {
    position: relative;

}
.carousel-head {
    height: 853px;
    background: url('img/say-about-theme.png') no-repeat center center fixed;
    background-size: cover;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-text {
    margin-top: 98px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.carousel-head img {
    position: absolute;
    top: 237px;
}
.carousel {
    position: absolute;
    top: 168px;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    margin-bottom: 100px;
}
.slider-for {
    width: 1160px;
    left: 50%;
    transform: translate(-50%);
}
.slider-photo {
    width: 143px;
    height: 142px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 20%);
}
.slider-nav {
    height: 70px;
    margin-top: 0;

}
.slider-nav-item img {
    width: 58px;
    height: 58px;
    position: relative;
    border: 5px solid rgba(31, 218, 181, 20%);
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 48px;
    cursor: pointer;
}
.slider-nav-item.slick-center {
    margin-top: -13px;
    transition: 0.4s;
}
.slider-for-info-text {
    margin-top: 168px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.slider-for-name {
    margin-top: 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}
.slider-for-specialization {
    margin-bottom: 38px;
    font-size: 12px;
    font-weight: 300;
    color: #BBBBBB;
    text-align: center;
    line-height: 27px;
}
.slick-prev {
    padding: 10px;
    left: -31px;
    top: 55px;
    text-align: center;
    height: 31px;
    width: 31px;
    border: 1px solid #BBBBBB;
}
.slick-prev.slick-arrow::before{
    content: url("img/arr.png");
    rotate: 180deg;
    margin-top: -8px;
    margin-left: -4px;
    position: absolute;
}
.slick-prev:hover, .slick-next:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    transition: 0.4s;
}
.slick-next {
    top: 57px;
    right: -35px;
    text-align: center;
    height: 31px;
    width: 31px;
    border: 1px solid #BBBBBB;
}
.slick-next.slick-arrow::before{
    content: url("img/arr.png");
    margin-top: -13px;
    margin-left: -3px;
    position: absolute;
}
footer{
    height: 100px;
    background: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-footer span{
    color: #18CFAB;
}
.info-footer p{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
}


